.card {
  font-family: "Inter", Arial, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: scale 0.1s ease-in-out;
  border: 1px solid #000;
}

.card:hover {
  scale: 1.01;
}

.card__title {
  max-width: 190px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  color: #000;
}

.card__description {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 15px 31px 21px;
}

.card__image {
  min-height: 282px;
  max-height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.card__like-button {
  width: 21px;
  height: 19px;
  transition:
    transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s ease;
  background: transparent url("../images/like-inactive.svg") center no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: scale(1.1);
}

.card__delete-button {
  width: 18px;
  height: 18px;
  background: transparent url("../images/delete-icon.svg") center no-repeat;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  margin: 0;
}

.card__delete-button:hover {
  opacity: 0.6;
  scale: 1.1;
}

.card__like-button_is-active {
  background: transparent url("../images/like-active.svg") no-repeat;
  animation: heartPop 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  transition: transform 0.5s ease;
}

.card__like-button_is-active:hover {
  scale: 1.1;
  opacity: 0.7;
  cursor: pointer;
}

.card__like-counter {
  font-size: 16px;
  color: #000;
  margin-right: 5px;
}

@keyframes heartPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
