.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

.header__menu-btn {
  display: none;
}

.header__title {
  font-size: 18px;
  line-height: 1.2;
  margin-right: 30px;
}

.header__container {
  display: flex;
  gap: 0 56px;
  align-items: center;
}

.header__switch-theme {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent var(--theme-btn) center no-repeat;
}

.header__switch-theme:hover {
  scale: 1.2;
  opacity: 0.5;
  cursor: pointer;
}

.header__title-email {
  font-weight: 500px;
  margin: 0;
}

.header__logout-btn {
  background-color: transparent;
  color: #a9a9a9;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  width: 60px;
  font-size: 18px;
  line-height: 1.2;
  padding: 0;
}

@media screen and (max-width: 860px) {
  .header {
    max-width: 95%;
  }

  .header__container {
    gap: 0 36px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    max-width: 95%;
  }

  .header__container {
    gap: 0 20px;
  }

  .header__logo {
    width: 150px;
    height: 27px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .header__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      auto
      minmax(85px, auto);
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 30px;
    grid-column: 1;
  }

  .header__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    border: none;
    padding: 0;
    gap: 0 9px;
    background: transparent;
    cursor: pointer;
    margin-right: 30px;
    justify-self: flex-end;
  }

  .header__hamburger-bar {
    display: none;
    width: 100%;
    height: 3px;
    background-color: var(--border-color);
  }

  .header__hamburger-bar_active {
    display: block;
  }

  .header__menu-btn:hover {
    opacity: 60%;
  }

  .header__title {
    display: none;
  }

  .header__container {
    display: none;
    order: -1;
    flex-direction: column;
    padding: 40px 0 46px;
    gap: 12px 0;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }

  .header__container-options_active {
    display: flex;
  }

  .header__container_options-close-btn {
    background: transparent url("../images/close.svg") center no-repeat;
    filter: var(--svg-color);
    width: 30px;
    height: 30px;
  }

  .header__logout-btn {
    border: none;
  }
}
