:root {
  --background-color: black;
  --second-background-color: white;
  --text-color: white;
  --second-text-color: black;
  --border-color: white;
  --svg-color: invert(0);
  --hover-btn: #ccc;
  --input-color: #ccc;
  --theme-btn: url("../images/light-mode.svg");
  --spinner: white;
}

[data-theme="light"] {
  --background-color: white;
  --second-background-color: black;
  --text-color: black;
  --second-text-color: white;
  --border-color: black;
  --svg-color: invert(100%);
  --hover-btn: #333;
  --input-color: #333;
  --theme-btn: url("../images/dark-mode.svg");
  --spinner: #555;
}
